<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/stylesheets/master.css"/>
    <!-- Semantic ui  -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ==" crossorigin="anonymous" /> -->
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <!-- Typerwriter -->
    <script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
       
    <title>Document</title>
</head>
<body>
    <!-- <div class="ui menu">
        <div class="right menu">
            <a class="item">Home</a>
            <a class="item">Message</a>
            <a class="item">Others</a>
        </div> 
    </div> -->
    <div class="header">
        <nav>
            <div class="">
                <ul class="main-nav">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Other</a></li>
                </ul>
            </div>
        </nav>
        <p class="title" id="app"></p>
        <p class="description">
            A community-owned REST API service for developers. Fetch provides REST API 
            endpoints which can be easily used during testing 
            and development without the need for creating sample data manually.
        </p>
        <p class="icons">
            <i class="fab fa-github"></i>
        </p>     
    </div>
    <div class="container">
        <% for(let idx=0; idx<data.length ;idx++) {%>
            <% if(true){%>
                <div class="row">
                    <div class="left-section">
                        <h1><%= data[idx].heading %></h1>
                        <p>
                            <%= data[idx].content %>
                        </p>
                    </div>
                    <div class="right-section">
                        <div class="wrap">
                            <div class="terminal">
                                <div class="terminal-bar">
                                    <div class="terminal-bar-red"></div>
                                    <div class="terminal-bar-yellow"></div>
                                    <div class="terminal-bar-green"></div>
                                </div>
                                <div class="terminal-content">
                                    <p>$ pwd</p>
                                    <p><%= data[idx].terminalcontent %></p>
                                </div>
                            </div>
                        </div>
                        
                        
                    </div>
                </div>
            <%} else{%>
                <div class="row">
                    <div class="left-section">
                        <div class="wrap">
                            <div class="terminal">
                                <div class="terminal-bar">
                                    <div class="terminal-bar-red"></div>
                                    <div class="terminal-bar-yellow"></div>
                                    <div class="terminal-bar-green"></div>
                                </div>
                                <div class="terminal-content">
                                    <p>$ pwd</p>
                                    <p><%= data[idx].terminalcontent %></p>
                                </div>
                            </div>
                        </div>  
                    </div>
                    <div class="right-section">
                        <h1><%= data[idx].heading %></h1>
                        <p>
                            <%= data[idx].content %>
                        </p>
                    </div>
                   
                </div>
            <%}%>
        <% } %>
        
    </div>
    
    <script src="/scripts/script.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js" integrity="sha512-dqw6X88iGgZlTsONxZK9ePmJEFrmHwpuMrsUChjAw1mRUhUITE5QU9pkcSox+ynfLhL15Sv2al5A0LVyDCmtUw==" crossorigin="anonymous"></script> -->
</body>
</html>